<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @current_user.admin? && @is_edit %>
	<%= form_tag({:controller => "admin/content", :action => "merge"}) %>
	<div class='merge_articles'>
		<h4><%= _("Merge Articles") %></h4>
		<div class=''>
		<%= label_tag 'merge_with', 'Article ID', {:style => 'text-align: left; width: 60px;%'} %>&nbsp;
		<%= text_field_tag "merge_with" %>
		<%= hidden_field_tag 'current_article_id', @idOfCurrentArticle.to_s %><br />
		<%= submit_tag "Merge" %>
		</div>
	</div>
<% end %>